$bgcol: #EBEBEB;
$infocol: #1b1a1c;
$descfont: #BFBFBF;

body,
html,
#mainPage {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: $bgcol;
}

#canvas {
    height: 100%;
}

svg {
    .nodes {}
    .edges {}
    .node-label {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.instruction-box {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50px);
    h4 {
        color: #333333;
        font-family: 'Bitter', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
}

.info-section {
    height: 100%;
    width: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
    background-color: $infocol;
    transition: 0.5s;
    box-shadow: 0px 0 5px 2px #888888;
    .datastuff {
        padding-top: 40px;
        img {
            display: block;
            width: 330px;
            height: 330px;
            border-style: solid;
            border-width: 5px;
            border-color: $bgcol;
        }
        h1 {
            padding-top: 10px;
            color: $bgcol;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 72px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1;
            text-align: center;
        }
        .main-desc-body {
            color: $descfont;
            h3 {
                font-family: 'Helvetica', sans-serif;
            }
            position: absolute;
            margin: 0px 25px 0px 10px;
            .info-tags {
                padding-top: 25px;
                .tag-body {
                    padding-bottom: 2px;
                }
            }
            .ext-links {
                text-align: center;
                a {
                    display: inline-block;
                }
            }
        }
    }
}
